<app-navbar></app-navbar>
<section class="hero d-flex align-items-center" id="home">
  <div class="container text-center text-md-left">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="hero-title">
          <span class="greeting">Welcome to</span> <br />
          <span class="highlight">My Dictionary</span>
        </h1>
        <p class="para">Find the meaning of any word instantly!</p>

        <div class="search-box">
          <input
            type="text"
            class="form-control"
            placeholder="Search for a word..."
          />
          <button class="btn search-btn">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/images/learning.jpg"
          alt="Dictionary Illustration"
          class="img-fluid rounded-circle"
        />
      </div>
    </div>
  </div>
</section>
